/*main style sheet*/

/*style the body*/

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height:100vh;
    margin:0;
    background-color: darkorchid;

}

#game-container{
    max-width:600px;
    margin:auto;
    padding:20px;
    background-color: rgb(25, 137, 174);
    border: 3px solid lightseagreen;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}



nav {
    /*set height to 600px*/
    height: 600px;
    /*set width to 200*/
    width: 200px;
    /*set floats to left*/
    float: left;
    /*set padding to 5*/
    padding: 5px;
    /*set line height to 30*/
    line-height:30px
    
}

footer{
/*set the tect to align center*/
text-align:center;
/*margin right*/
margin-right:200px;

}

header {
    /*align tect to center*/
    text-align:center;
}

/*lets use css to style the memeImage Properties*/ 
memeImage{
    margin-right : 200px;
    width:200px;
    height:200px;
}
